<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GH.Properties.Settings>
            <setting name="Form1_location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="Form1_State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DossierHTML" serializeAs="String">
                <value />
            </setting>
            <setting name="DossierMedia" serializeAs="String">
                <value />
            </setting>
            <setting name="VoirID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DossierGEDCOM" serializeAs="String">
                <value />
            </setting>
            <setting name="photo_principal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voir_media" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voir_date_changement" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voir_reference" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voir_note" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="date_longue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="balise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deboguer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voir_chercheur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="voir_carte" serializeAs="String">
                <value>True</value>
            </setting>
        </GH.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>